@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    line-height: 1.4;
}

/* images border */
img {
    border-radius: 50%;
}

/* All spans opacity */
span {
    opacity: 50%;
}

/* the two main colors used in writing text */
.text-color-1 {
    color: #cfcfcf;
}
.text-color-2 {
    color: #48556a;
}

.en-tete {
    display: flex;
    align-items: center;
}
/* Image border */
.border {
    border-radius: 50%;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    border: 2px solid rgba(207, 207, 207, 0.5);
}

/* Container declared and use Grid */
.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 250px 250px;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
}

/* --------------------------------------------------- */
/*                Boxes modifcations                   */
/* --------------------------------------------------- */

/* padding all boxes at once */
.sizing {
    padding: 15px;
    box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}

/* Daniel:  */
.daniel {
    background-color: hsl(263, 55%, 52%);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 16% top 0;
    border-style: none;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    grid-column: 1/3;
    grid-row: 1/2;
}
.daniel p:first-of-type {
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: large;
    line-height: 1.4;
}
.daniel p:last-of-type {
    opacity: 70%;
    line-height: 1.4;
    text-align: justify;
}

/* jonathan:  */
.jonathan {
    background-color: hsl(217, 19%, 35%);
    border-style: none;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    grid-column: 3/4;
    grid-row: 1/2;
}
.jonathan p:first-of-type {
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: large;
    line-height: 1.4;
}
.jonathan p:last-of-type {
    opacity: 70%;
    line-height: 1.4;
    text-align: justify;
}

/* jeannette: */
.jeanette {
    background-color: hsl(0, 0%, 100%);
    border-style: none;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    grid-column: 1/2;
    grid-row: 2/3;
}
.jeanette p:first-of-type {
    color: #48556a;
    text-align: left;
    font-weight: bold;
    font-size: large;
    line-height: 1.4;
}
.jeanette p:last-of-type {
    opacity: 70%;
    line-height: 1.4;
    text-align: justify;
}

/* Patrick:  */
.patrick {
    background-color: hsl(219, 29%, 14%);
    border-style: none;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    grid-column: 2/4;
    grid-row: 2/3;
}
.patrick p:first-of-type {
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: large;
    line-height: 1.4;
}
.patrick p:last-of-type {
    opacity: 70%;
    line-height: 1.4;
    text-align: justify;
}

/* kira:  */
.kira {
    background-color: hsl(0, 0%, 100%);
    border-style: none;
    border-radius: 10px;
    width: 100%;
    grid-column: 4/5;
    grid-row: 1/3;
}
.kira p:first-of-type {
    color: #48556a;
    text-align: left;
    font-weight: bold;
    font-size: large;
    line-height: 1.4;
}
.kira p:last-of-type {
    opacity: 70%;
    line-height: 1.4;
    text-align: justify;
}

/* media part */
@media screen and (max-width: 700px) {
    .container {
      display: flex;
      flex-direction: column;
    }
    div {
        height: max-content !important;
    }
  }